@media (max-width: 330px) {
    .link-t a .link-t-n {
        font-size: 9px;
    }
    .contact .social-links li a {
        font-size: 20px;
    }
}

@media (min-width:520px) and (max-width: 768px) {
    .profile li.n-m, .profile li {
        width: 49% !important;
    }
}
@media (max-width: 768px) {
    .profile {
        margin-bottom: 40px;
    } 
    .section-title h1 {
        font-size: 22px;
    }
    .lt {
        margin-bottom: 22px;
    }
    .about svg {
        margin: 15px 0;
    }
    .about h2 {
        font-size: 30px;
    }
    .profile li.n-m,.profile li {
        margin-bottom: 15px!important;
        width: 100%;
    }
    .services .owl-nav,
    .testimonials .owl-nav {
        top: -82px;
        left: 215px;
    }
    p {
        font-size: 14px;
        letter-spacing: 0.4px;
    }
    .mobile-menu {
        display: block;
    }
    .fun-fact-block.ln {
        margin: 0;
    }
    .fun-fact-block {
        margin-bottom: 30px;
    }
    form p {
        display: none;
    }
    .mobile-menu {
        display: block;
        background: #f5f5f5;
    }
    .menu {
        display: none;
    }
    .fun-facts, .testimonials, .services {
        padding: 50px 0;
    }
    .iner-section-title h3 {
        font-size: 22px;
    }
    .resume .iner-section-title {
        margin: 25px 0;
    }
    .mobile-menu li.active a {
        color: #fff;
    }
    .contact-info {
        margin-bottom: 40px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    
}
@media (max-width: 992px) {
    .content {
        left: 0;
        width: 100%;
    }
    .vcard-box {
        left: -250px;
        opacity: 0;
    }
    
}